.cell {
    border: 1px solid black;
    height: 50px;
    width: 50px;
}
.piece {
    border-radius: 50%;
    height: 40px;
    width: 40px;
    margin: 5px;
}
.piece.blue {
    background-color: blue;
}
.piece.red {
    background-color: red;
}
#currentPlayer.red {
    color: red;
}
#currentPlayer.blue {
    color: blue;
}
